@import url(https://fonts.googleapis.com/css?family=Tangerine);
@import url(https://fonts.googleapis.com/css?family=Cardo);

body {
    background-color: #FFF;
    padding: 20px;
    margin: 0;
}

img {
    height: 50px;
    width: 50px;
    margin-bottom: -13px;
}

h1, h2, p, ul, li {
    font-family: 'Cardo', Serif; !important;
    text-align: justify;
}

h1.mainHeading {
    font-family: 'Cardo', Serif;
    font-size: 40px;
    color: #8c9516;
    display: inline;
}

ul.header li {
    display: inline;
    list-style-type: none;
    font-size: larger;
    margin: 0;
}
ul.header {
    background-color: ghostwhite;
    padding: 0;
}
ul.header li a {
    color: #111;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}
.content {
    background-color: ghostwhite;
    padding: 20px;
}
.content h2 {
    padding: 0;
    margin: 0;
}
.content li {
    margin-bottom: 10px;
}

.active {
    background-color: #8c9516;
    color: #000000;
}
