@import url(https://fonts.googleapis.com/css?family=Cardo);

@media (max-width: 600px) and (orientation: landscape){

}

body {
    background-image: url("../images/psu_fall.jpg");
    background-attachment: scroll;
    background-color: #FFF;
    padding: 20px;
    margin: 0;
}

#logo {
    height: 50px;
    width: 50px;
    margin-bottom: -12px;
}

h1, h2, h3, p, ul, li {
    font-family: 'Cardo', Serif; !important;
}

h1.mainHeading {
    font-family: 'Cardo', Serif;
    font-size: 40px;
    color: ghostwhite;
    display: inline;
    margin-left: 10px;
}

ul.header li {
    display: inline;
    list-style-type: none;
    font-size: larger;
    margin: 0;
}
ul.header {
    background-color: ghostwhite;
    padding: 0;
}
ul.header li a {
    color: #111;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}
.content {
    background-color: ghostwhite;
    padding: 20px;
}
.content h2 {
    padding: 0;
    margin: 0;
}
.content li {
    margin-bottom: 10px;
}

.active {
    background-color: #8c9516;
    color: #000000;
    zoom: 100%;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

#footer {
    background-color: ghostwhite;
    padding: 20px;
    bottom:0;
    margin-top: 16px;
}

#container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: 100%;
}

#intelimg, #cdkimg, #daimlerimg, #mentorimg {
    width: 100px;
    height: 100px;
    margin: 10px;
}

#pgeimg, #jamaimg, #elementalimg, #puppetimg, #ibmimg {
    width: 100px;
    height: 100px;
    margin: 10px;
}

#an-1, #an-2, #an-3, #an-4, #an-5, #an-6, #an-7 {
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#span_tag {
    white-space: nowrap;
}

